.body {
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
    display: flex;
    text-decoration: none;
}
.sidebar {
    width: 200px;
    background-color: #ffffff;
    padding: 20px;
    height: 100vh;
    /* box-shadow: 2px 0 5px rgba(0,0,0,0.1); */
    font-size: 14px;
    font-weight: 600;
}
.company-info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.menu-item.active {
    background-color: #F0F2F5;
    border-radius: 8px;
}
.menu-item i {
    margin-right: 10px;
}
.main-content {
    flex-grow: 1;
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.add-product-btn {
    padding: 8px 16px;
    background-color: #ffd700;
    font-family: 'Plus Jakarta Sans', sans-serif;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}

.orders {
    /* maxwidth: 800px; */
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #DBE0E5;
    padding: 20px;
}
.orders h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
}
.orders table {
    width: 100%;
    border-collapse: collapse;
}
.orders th,.orders  td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
}
.orders th {
    background-color: #f8f8f8;
    font-weight: bold;
    color: #333;
}
.orders .status {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 16px;
    font-size: 14px;
}
.orders .in-transit {
    background-color: #e8f5e9;
    color: #2e7d32;
}
.orders .delivered {
    background-color: #e3f2fd;
    color: #1565c0;
}
table  td:nth-child(2),
table  td:nth-child(3),
table  td:nth-child(5) {
    color: #637387; 
    font-family: 'Work Sans';
    font-size: 14px;
    line-height: 20px;
}