{% extends "store/store_main.html" %}
{% load static %}

{% block title %}<title> Dashboard </title>{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static 'css/add_product.css' %}">{% endblock css %}
{% load static %}

{% block content %}
<div class='body'>
    {% include "store/sidebar.html" %}
    <div class="add_product">
        <h1>Add product</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            
            <button type="submit" class="save-btn">Save</button>
        </form>
    </div>
</div>
{% endblock content %}