{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/nav.css' %}">{% endblock css %}
<header>
    <div class="logo">📸 InstShop</div>
    <nav>
        {% if user.is_authenticated %}
            <a href="{% url "store_view"  request.user.store_name%}">Shop</a>
        {% endif %}
        <a href="#">About</a>
        <a href="#">Blog</a>
        <button class="sign-up-btn">
            {% if user.is_authenticated %}
                <a href="{% url 'store_view' request.user.store_name %}" style="text-decoration:none" >View Store</a>
            {% endif %}
        </button>
    </nav>
    <div>
        <input type="text" placeholder="Search" class="search-bar">
        <button class="sign-up-btn">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" style="text-decoration:none" >Logout</a>
                <a href="{% url 'login' %}" style="text-decoration:none" >login</a>
            {% else %}
                <a href="{% url 'signup' %}" style="text-decoration:none" >Sign Up</a>
            {% endif %}
        </button>
    </div>
</header>