{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">{% endblock css %}

<div class="sidebar">
    <div class="company-info">
        <div class="avatar"></div>
        <span>Acme Inc</span>
    </div>
    <div class="menu-item active"> <a href="{% url 'dashboard' %}" style="text-decoration:none" ><i>🏠</i> Dashboard<a/></div>
    <div class="menu-item"> <a href="{% url 'product_list' %}" style="text-decoration:none" > <i>📦</i> Products<a/></div>
    <div class="menu-item"><i>📋</i> Orders</div>
    <div class="menu-item"><i>🗄️</i> Inventory</div>
    <div class="menu-item"><i>📣</i> Marketing</div>
    <div class="menu-item"><a href="{% url 'analytics' %}" style="text-decoration:none" ><i>📊</i> Analytics</a></div>
</div>