{% extends "store_templates/template_main.html" %}
{% load static %}
{% block title %} <title> Store </title> {% endblock title %}
{% block css %} <link rel="stylesheet" href="{% static 'css/template.css' %}"> {% endblock css %}

{% block content %}
    <div class="hero">
        <h1>Store name Inc</h1>
        <p>Discover curated premium products</p>
    </div>

    <div class="search-container">
        <div class="search-bar">
            <input type="text" placeholder="Search for products">
        </div>
        <div class="search-filters">
            <button>All</button>
            <button>Best seller</button>
            <button>Featured</button>
            <button>Lorem</button>
        </div>
    </div>

    <div class="collections">
        <h2>Collections</h2>
        <div class="product-grid">
            {% for product in products %}
            <div class="product-card">
                <img src="{{ product.image.url }}" alt="{{product.name}}" class="product-image">
                <div class="product-info">
                    <div class="upper">
                        <h3><a href="{% url 'product-detail' product.id %}">{{product.name}}</a></h3>
                        <div class="product-price">{{product.price}}Br.</div>
                    </div>
                    <p>{{product.description}}</p>
                </div>
            </div>
            {% endfor %}

            {% comment %} <div class="product-card">
                <img src="./asset/shoe2.png" alt="Snickers Off-White 2024" class="product-image">
                <div class="product-info">
                    <div class="upper">
                        <h3>Snickers Off-White 2024</h3>
                        <div class="product-price">3500 Br.</div>
                    </div>
                    <p>NIKE</p>
                </div>
            </div>
            <div class="product-card">
                <img src="./asset/shoe3.JFIF" alt="Snickers Off-White 2024" class="product-image">
                <div class="product-info">
                    <div class="upper">
                        <h3>Snickers Off-White 2024</h3>
                        <div class="product-price">3500 Br.</div>
                    </div>
                    <p>NIKE</p>
                </div>
            </div>
            <div class="product-card">
                <img src="./asset/shoe2.png" alt="Snickers Off-White 2024" class="product-image">
                <div class="product-info">
                    <div class="upper">
                        <h3>Snickers Off-White 2024</h3>
                        <div class="product-price">3500 Br.</div>
                    </div>
                    <p>NIKE</p>
                </div>
            </div> {% endcomment %}
            <!-- Repeat the product-card div for more products -->
        </div>
    </div>
{% endblock content %}